# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env
*.sqlite3

# Django
db.sqlite3
*.log
staticfiles/
media/

# Node
node_modules/
.next/
out/
dist/
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
*.pid
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Otros
*.tmp
*.bak
